*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: #000000 #ffffff;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none; 
}
::selection {
    background-color: #000000;
    color: #ffffff;
}
::-moz-selection {   /*   For Firefox :(     */
    background-color: #000000a8;
    color: #ffffff;
}
:root{
    --big-font: clamp(18px, 4vw, 27px);

}
body{
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
header {
    width: 100%;
    height: 88px;
    align-items: center;
    align-content: center;
    position: fixed;
    background:rgba(7, 16, 24, 0.267);
    justify-content: center;  
}
.header a {
    
}
.header-div{
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    align-items: center;
    margin: 7px 7px;
    width: 98%;

    height: 70px;
    background:#030303;
    position: fixed;
    top: 0;
    z-index: 10;

     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
}
.logo-txt{
    font-size: 10px;
    color: #ffffff;
    font-weight: 500;
    font-family: "BBH Bogle", sans-serif;
}
.sidepanel  {
    display: flex;
    flex-direction: column;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0; /* CHANGED */
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -8px 0 30px rgba(0, 0, 0, 0.6);
}

.sidepanel a {
    padding: 20px 20px 20px 30px;
    text-decoration: none;
    font-size: var(--big-font);
    font-family: "BBH Bogle", sans-serif;
    color: #000000;
    display: flex;
    justify-content: space-between;
  align-items: center;
    transition: 0.3s;
   background:
    linear-gradient(#3333331e, #30303018) bottom / calc(100% - 40px) 1px no-repeat;
}
.sidepanel .arrow {
  font-size: 20px;
  opacity: 0.7;
}
.sidepanel a:hover {
    color: #00000081;
}
.sidepanel-actions {
  margin-top: auto;      /* 👈 pushes buttons to bottom */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  background: none;
}
.sidepanel a:hover .arrow {
  transform: translateX(4px);
  transition: transform 0.3s ease;
}
.nav-actions{
    display: flex;
    align-items: center;
    gap: 20px;
}
.openbtn {
    margin: 0px;
    font-size: 30px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 8px 10px;
    border: none;
    right: 20px;
    position: fixed;
}
.btn-1 {
    margin: 20px 20px -10px 20px;
    border: solid 2px #000000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 30px;
    text-decoration: none;
    font-size: var(--big-font);
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    transition: background 0.3s;
    align-items: end;
}
.btn-1:hover {
    background-color: #ffffff;
    border: solid 2px #00000081;
    color: #00000081;
}
.btn {
    margin: 20px 20px -10px 20px;
    border: none;
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 17px 30px;
    text-decoration: none;
    font-size: var(--big-font);
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    transition: background 0.3s;
}
.btn:hover {
    border: none;
    background-color: #00000081;
    color: rgba(255, 255, 255, 0.69);
}
.btn-2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 28px;
    text-decoration: none;
    font-size: var(--big-font);
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    transition: background 0.3s;
}
.btn-2:hover {
    background-color: #ffffff;
    color: #00000081;
}
.btn-3 {
    margin: 0 40px 0 0 ;
    border: solid 2px #ffffff;
    color: #ffffff;
    padding: 10px 18px;
    text-decoration: none;
    font-size: var(--big-font);
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    transition: background 0.3s;
}
.btn-3:hover {
    border: solid 2px #ffffffd2;
    color: #ffffffd2;
}
#boody{
    display: block;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 700px;

}
#overlay{
    background-color: rgba(7, 16, 24, 0.089);
       position: absolute;
    inset: 0;
    z-index: 2;
}
#boody h1{
    background: #ffffffe8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for Firefox */
    font-family: "BBH Bogle", sans-serif;
    color: transparent;
    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: 800;
}
#boody p{
    background: linear-gradient(90deg, #000000, #000000ad, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-family: "BBH Hegarty", sans-serif;
    background-clip: text; /* for Firefox */
    color: transparent;
    font-size: clamp(10px, 20px, 20px);
    font-weight: 800;
    width: 700px;
    margin: 0px auto 0px auto;
}

